[submodule "libs/WebSocket"]
	path = libs/WebSocket
	url = https://github.com/EuleHaken/WebSocket.git
[submodule "libs/libcommuni"]
	path = libs/libcommuni
	url = https://github.com/communi/libcommuni
